* {
	margin: 0;
	padding: 0;
}

body {
	background: #EFF0F2;
	min-height: 100vh;
	user-select: none;
}

.container {
	height: 100vh;
	background: #000;
	touch-action: none;
}

.container img {
	/* transform-origin: left top; */
	/* transform-origin: 20% 80%; */
}