* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	line-height: 1.5;
	user-select: none;
}

.hide {
	display: none !important;
}

h1 {
	padding: 0 15px;
}

h1+p {
	padding: 10px 15px;
}

h4 {
	padding: 10px 15px;
	font-size: 14px;
	line-height: 20px;
	background: #EFF0F2;
}

/* tap singleTap doubleTap longTap */
.tap,
.single-tap,
.double-tap,
.long-tap {
	padding: 15px;
	font-size: 14px;
	line-height: 20px;
	background: #FFF;
}

.long-tap-layer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}

.long-tap-mask {
	height: 100%;
	background: rgba(0, 0, 0, .6);
}

.animate-fade-in {
	animation: fadeIn ease .3s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.animate-fade-out {
	animation: fadeOut ease .3s forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.long-tap-menu-list {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	list-style: none;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	background: #EFF0F2;
}

.animate-slide-up {
	animation: slideUp ease .3s forwards;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0);
	}
}

.animate-slide-down {
	animation: slideDown ease .3s forwards;
}

@keyframes slideDown {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100%);
	}
}

.long-tap-menu-item {
	padding: 15px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	background: #FFF;
}

.long-tap-menu-item:not(:last-child) {
	margin-bottom: 1px;
}

.tap:active,
.double-tap:active,
.long-tap:active,
.long-tap-menu-item:active {
	background: #EFF0F2;
}

/* swipe */
.swipe {
	overflow: hidden;
}

.swipe-item {
	display: flex;
	width: calc(100% + 140px);
	background: #FFF;
}

.box {
	display: flex;
	align-items: center;
	width: calc(100% - 170px);
	padding: 15px;
}

.avatar {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	border-radius: 50%;
	object-fit: cover;
}

.content {
	width: calc(100% - 50px);
}

.name {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

.text {
	font-size: 12px;
	line-height: 18px;
	color: #999;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.btn {
	width: 70px;
	height: 70px;
	color: #FFF;
	border: none;
}

.cancel {
	background: #bdbdbd;
}

.delete {
	background: #ec2020;
}

/* drag */
.drag {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	background: #fff url(../images/github.png) no-repeat center / 44px;
}

/* rotate */
.rotate {
	display: flex;
	height: 255px;
	background: #FFF;
}

.rotate img {
	width: 180px;
	height: 180px;
	object-fit: cover;
	margin: auto;
}

/* pinch */
.pinch {
	height: 300px;
	background: #FFF;
	overflow: hidden;
}

.synthetical {
	padding: 15px;
	border-top: 1px solid #EFF0F2;
}

.synthetical a {
	display: block;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	background: #1890ff;
	border-radius: 2px;
}